body {
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.digit {
  display: inline-block;
  font-size: 80px;
}

.redDigit {
  color: red;
}

.button {
  position: relative;
  top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  width: 10rem;
  height: 3rem;
  background: lightgray;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem gray;
  cursor: pointer;
}

.button:hover {
  background: gray;
}

.button.disabled {
  display: none;
}

.button.reset {
  background: red;
}